<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - App_usuarios</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App_usuarios.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <!-- PARA MAYOR SIMPLICIDAD UTILICÉ ESTILOS EN LINEA Y CLASES BOOTSTRAP -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 text-center">
            <div class="container-fluid">
                <ul class="navbar-nav flex-grow-1" style="justify-content:center;align-items:center; gap:10px;">
                    <li class="nav-item">
                        <a class="nav-link text-dark" style="display:flex;justify-content:center;align-items:center;" href="https://www.linkedin.com/in/cesar-sanchez-moreno" target="_blank">Visitar Linkedin <i style="font-size:25px" class='bx bxl-linkedin-square'></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="min-height: 80vh;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p class="text-center">&copy; 2024 - César Sanchez Moreno</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
